.row {
	margin:30px 10px 30px 10px;
	background-color:#fff;
	padding-bottom:20px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
.col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10,
.col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	color:#000;
	margin:0px;
	padding:0px;
}

h3 {
	font-size:1.8em;
	margin-top:5px;
	margin-bottom: 5px;
}

hr {
	margin:5px 0px 10px 0px;
}

.navbar {
	padding-top:10px;
	margin-bottom:0px;
	background-color:#666;
	border-color:#000;
	border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active, .navbar-default .navbar-brand:visited {
	margin-bottom:10px;
	color:black;
	font-weight: bold;
	font-size:2em;
	}

.navbar-default .navbar-nav>li:nth-child(2), .navbar-default .navbar-nav>li:nth-child(3)  {
	border-top:solid 1px #fff;
}

.navbar-default .navbar-nav>li>a {
	color:black;
	
	font-size: 1.1em;
	padding:10px 0px 10px 10px;
}


.navbar-nav {
	margin:0px;
}

.navbar-default .navbar-nav>li>a:visited {
	color:#fff;
	text-align:center;
	font-size: 1.1em;
	padding:10px 0px 10px 10px;
}

.navbar-default .navbar-nav>li>a:hover {
	background-color:#666;
}

section a {
	color: red;
	font-weight: bold;
}

section a:hover {
	color:#522e2e;
	text-decoration:none;
}

.back-to-top {
	margin-top:10px;
}

.div {
	margin:5px 5px 5px 5px;
	background-color: grey;
	padding:10px;
}

@media (min-width:768px) and (max-width:991px) {
	
}

@media(max-width: 767px) {
	.navbar-collapse {
		background-color:grey;
		padding:0px;
	}
}
